<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cyg-get" />
  <package id="7zip" />
  <package id="notepadplusplus" />
  <package id="atom" />
  <package id="vscode" />
  <package id="sublimetext3" />
  <package id="git" />
  <package id="spacemacs" />
  <package id="cygwin" />
  <package id="putty" />
  <package id="vim" />
  <package id="python" />
  <package id="neovim" />
  <package id="adobereader" />
  <package id="googlechrome" />
  <package id="libreoffice-fresh" /> 
  <package id="keepassxc" /> 
  <package id="unrar" /> 
  <package id="virtualbox" /> 
  <package id="obs-studio" />   
  <package id="firefox" />   
  <package id="brave" />
  <package id="opera" />
  <package id="vivaldi" />
  <package id="winrar" />
  <package id="telegram" />
  <package id="microsoft-teams.install" />
  <package id="skype" />
</packages>
