<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="notepadplusplus" />
  <package id="googlechrome" />
  <package id="firefox" /> 
  <package id="brave" />
  <package id="opera" />
  <package id="vivaldi" />
  <package id="vscode" />
  <package id="sublimetext3" />
  <package id="git" />
  <package id="putty" />
  <package id="vim" />
  <package id="python" />
  <package id="neovim" />
  <package id="libreoffice-fresh" /> 
  <package id="keepassxc" /> 
  <package id="unrar" /> 
  <package id="obs-studio" />   
  <package id="winrar" />
  <package id="telegram" />
  <package id="yt-dlp" />
  <package id="filezilla" />
</packages>
