<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
  <package id="googlechrome" />
  <package id="firefox" /> 
  <package id="brave" />
  <package id="opera" />
  <package id="vivaldi" />
  <package id="vscode" />
  <package id="sublimetext3" />
  <package id="libreoffice-fresh" /> 
  <package id="keepassxc" /> 
  <package id="unrar" /> 
  <package id="obs-studio" />   
  <package id="winrar" />
</packages>
